
@model IEnumerable<DataLayer.PageGroup>
<header> دسترسی سریع به گروه ها </header>
<ul>
    @foreach (var item in Model)
    {
        <li><a href="/Group/@item.GroupID/@item.GroupTitle">@item.GroupTitle</a></li>
    }
</ul>

